:root {
    --red: #d12028;
}

p { font-size: 18px; }
h1, h2, h3 { font-size: 24px; }

/* to prevent horizontal scroll on mobile */
body {
    max-width: 100vw;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 1em;
}

header .logo {
    height: 50px;
}

header .title {
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: var(--red);
    
    margin-left: 18px;
}
 
main {
    padding: 1.5em;
    font-size: 18px;
    background: var(--red);
    color: white;
}