:root {
    --red: #d12028;
}
a { 
    color: unset; 
    text-decoration: none;
}
p { font-size: 18px; }
h1 { font-size: 24px; }

/* to prevent horizontal scroll on mobile */
body {
    max-width: 100vw;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 1em;

    .logo {
        height: 50px;
    }

    .title {
        text-decoration: none;
        text-transform: uppercase;
    
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: var(--red);
        
        margin-left: 18px;
    }
}
 
.hero {
    padding: 1.5em;
    font-size: 18px;
    background: var(--red);
    color: white;
}

.feature-card {
    width: 80%;
    padding: 1em;
    margin: 2em auto 1em;
    border: 1px solid black;
    position: relative;
    transition: all 0.25s ease-in-out;

    h4 {
        position: absolute;
        top: 0;
        margin: 0;
        color: white;
        background: black;
        padding: 8px;
        left: 0px;
        font-size: 14px;
        font-weight: normal;
    }

    h2 {
        margin-top: 1.5em;
    }

    img {
        max-width: 100%;
        height: 170px;
        object-fit: cover;
        width: 100%;
    }

    &:hover {
        box-shadow: 0.75em 0.75em black;
        cursor: pointer;
    }
}